# Ekstract Data

Dalam proses ETL, Extract (Ekstrak) adalah langkah pertama di mana **data diambil dari berbagai sumber** untuk dikumpulkan dalam satu tempat. Tahap ini melibatkan pengambilan data mentah yang tersebar di beberapa sumber, seperti 
- database
- file
- aplikasi, atau sistem lainnya

agar dapat diproses lebih lanjut dalam tahap Transform dan Load.

## 1.CSV, Excel

In [1]:
import pandas as pd

In [2]:
# Grab data csv
df_military_expenditure = pd.read_csv('Military Expenditure.csv')

In [3]:
# preview data
df_military_expenditure

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,1.537008,2.091894,1.882361,2.456137,2.486424,...,1.759087,1.535199,1.274576,1.272376,1.118761,1.073977,1.102762,1.005835,1.000080,NaN
2,Afghanistan,AFG,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.298013,0.994576,0.956772,0.945227,1.006746,1.170968,1.358857,1.827934,NaN,NaN
3,Africa Western and Central,AFW,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,1.315351,1.314010,1.442316,1.468636,...,0.731363,0.677259,0.826473,0.822144,0.847022,0.801030,0.949690,1.164951,0.973350,NaN
4,Angola,AGO,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.698455,3.105426,2.733335,2.507983,1.955787,1.739070,1.700178,1.289923,1.328722,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.758329,0.794280,0.777868,0.802900,0.804421,0.831727,1.023037,0.845929,1.128307,NaN
262,"Yemen, Rep.",YEM,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.966891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,0.950977,1.467849,2.254837,2.064608,2.695609,2.630829,...,1.021894,1.006929,0.971047,0.943568,0.897196,0.884245,0.957517,0.809813,0.739894,NaN
264,Zambia,ZMB,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.661870,1.785254,1.454533,1.300004,1.437499,1.255655,1.167468,0.979966,1.186304,NaN
265,Zimbabwe,ZWE,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,1.189568,...,1.887789,1.886309,1.741985,1.592340,1.137810,0.729567,0.261761,0.815977,0.427057,NaN

In [4]:
# Grab data excel
df_military_expenditure2 = pd.read_excel('MilitaryExpenditure2.xls')

In [5]:
# preview data
df_military_expenditure2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,1.537008,2.091894,1.882361,2.456137,2.486424,...,1.759087,1.535199,1.274576,1.272376,1.118761,1.073977,1.102762,1.005835,1.000080,NaN
2,Afghanistan,AFG,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.298013,0.994576,0.956772,0.945227,1.006746,1.170968,1.358857,1.827934,NaN,NaN
3,Africa Western and Central,AFW,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,1.315351,1.314010,1.442316,1.468636,...,0.731363,0.677259,0.826473,0.822144,0.847022,0.801030,0.949690,1.164951,0.973350,NaN
4,Angola,AGO,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.698455,3.105426,2.733335,2.507983,1.955787,1.739070,1.700178,1.289923,1.328722,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.758329,0.794280,0.777868,0.802900,0.804421,0.831727,1.023037,0.845929,1.128307,NaN
262,"Yemen, Rep.",YEM,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.966891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,0.950977,1.467849,2.254837,2.064608,2.695609,2.630829,...,1.021894,1.006929,0.971047,0.943568,0.897196,0.884245,0.957517,0.809813,0.739894,NaN
264,Zambia,ZMB,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.661870,1.785254,1.454533,1.300004,1.437499,1.255655,1.167468,0.979966,1.186304,NaN
265,Zimbabwe,ZWE,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,1.189568,...,1.887789,1.886309,1.741985,1.592340,1.137810,0.729567,0.261761,0.815977,0.427057,NaN

# Reference
- https://data.worldbank.org/indicator/MS.MIL.XPND.GD.ZS?locations=ID